

@media (max-width:768px) {
    .mobile-header {
        display: flex;
        height: 45px;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: #ffffff;
        z-index: 999;
    }
    .hero__column-desktop {
        display: none;
    }
    .hero__column-mobile {
        display: block;
    }
    .container--mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .header {
        display: none;
    }
    .header__logo-img {
        height: 40px;
    }
    .header__logo-text {
        font-size: 12px;
        line-height: 13px;
    }
    .mobile-header__button {
        display: flex;
        flex-direction: column;
    }
    .mobile-header__item {
        width: 17px;
        border-radius: 7px;
        background-color: #494949;
        height: 1px;
        margin-bottom: 5px;
    }
    .mobile-header__item:last-child {
        width: 11px;
        margin-bottom: 0;
    }
    .support__list .owl-stage-outer .owl-stage .owl-item {
        display: flex;
        justify-content: center;
    }


}
@media (max-width:480px) {
    #modal-comm {
        margin-bottom: 20px !important;
    }
    .form__modal-label {
        margin-bottom: 15px;
    }
    input {
        height: 30px;
    }
    input::placeholder {
        font-size: 10px;
        line-height: 12px;
    }
    #call_modal_1 {
        font-size: 14px;
        line-height: 16px;
        border-radius: 67px;
        padding: 11px 59px;
        margin-bottom: 14px;
    }
    .button--transparent {
        font-size: 14px;
        line-height: 16px;
        border-radius: 67px;
        margin-left: 0;
    }
    .owl-nav {
        display: none;
    }
    .hero {
        height: 660px;
    }
    .slider-main__item {
        flex-direction: column;
        padding-top: 91px;
    }
    .hero__column {
        width: 100% !important;
        text-align: center;
    }
    .hero__title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .hero__text {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 10px;
    }
    .hero__buttons {
        flex-direction: column;
    }


    /* SUPPORT */
    .support__item {
        height: 300px;
    }
    .support__list {
        position: relative;
    }
    .support__item-text {
        font-size: 12px;
        line-height: 136.19%;
    }

    /* ABOUT */
    .about {
        padding-top: 61px;
    }
    .about__title, .sizes__title, .groups__title, .advantages__title, .portfolio__title, .callback__title {
        font-family: Prata;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
    }
    .about__title {
        margin-bottom: 20px;
    }
    .about__text {
        font-size: 12px;
        margin-bottom: 30px;
    }
    .button--green {
        font-size: 14px;
        line-height: 16px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .button, .form__modal-button, #compute{
        height: 38px;
        width: 180px !important;
    }
    .container--about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__title, .about__text {
        order: 0;
    }
    .about__button {
        order: 4;
    }
    .about__list {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .about__item {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
    .about__item-text {
        padding-left: 0;
        font-size: 10px;
    }
    .about__item-number {
        font-size: 18px;
        left: 7px;
        margin-bottom: 8px;
    }
    .about__item img {
        width: 50px;
        height: 50px !important;
    }


    /* GROUPS */
    .flip-card {
        max-width: 100%;
        flex: 0 0 100%;
        height: 250px;
    }
    .flip-card__photo {
        background-size: cover;
        background-position-x: 0 !important;
    }
    .flip-card__custom {
        background-position-x: 50% !important;
        background-repeat: no-repeat;
    }


    /* ADVANTAGES */
    .advantages {
        padding-top: 0;
    }
    .advantages__item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .advantages__item:nth-child(n+4) {
        margin-bottom: 35px;
    }
    .advantages__list {
        margin-bottom: 0;
    }
    .advantages__item-title {
        font-size: 14px;
        line-height: 19px;
    }
    .advantages__item-text {
        font-size: 10px;
        line-height: 14px;
    }
    .advantages__item-icon {
        height: 40px;
    }
    .advantages__item-deeps {
        height: 40px;
    }
    .advantages__title {
        margin-bottom: 20px;
    }
    .advantages__text {
        font-size: 12px;
        margin-bottom: 40px;
    }


    /* SIZES */
    .sizes {
        padding-top: 0;
    }
    .sizes__back {
        height: 300px;
        top: -45px;
    }
    .sizes__img {
        max-width: 100%;
    }


    /* INVITE */   
    .invite .container {
        display: block;
    }
    .invite__img {
        max-width: 100%;
    }


    /* PORTFOLIO */
    .portfolio__slider-item {
        flex-direction: column;
    }
    .portfolio__slider-title {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 10px;
    }
    .portfolio__slider-text {
        font-size: 10px;
    }
    .portfolio__slider-img {
        width: initial;
        height: initial;
        max-width: 100%;
    }
    .portfolio__slider-column:nth-child(2) {
        margin-left: 0;
    }


    /* CALLBACK */
    .callback {
        padding-bottom: 100px;
    }
    .callback__form {
        max-width: 100%;
    }
    .callback__form-input {
        width: 100%;
    }
    .callback__title {
        margin-bottom: 18px;
    }
    .callback__text {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 25px;
    }

    /* MODAL */
    .modal__window, .calculate-modal__window {
        padding-top: 25px;
        padding-right: 7px;
        padding-left: 7px;
        padding-bottom: 21px;
        width: 95%;
        text-align: center;
        border-radius: 22px;
    }
    .modal__gradient {
        top: 0px !important;
    }
    #compute {
        margin-bottom: 41px;
    }
    .modal__title {
        font-family: Prata;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 10px;
    }
    .modal__text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 23px;
    }
    .form__modal {
        max-width: 100%;
        width: initial;
        padding: 0 18px;
    }
    #modal-name {
        margin-right: 12px !important; 
    }
    #modal-comm {
        height: 82px !important;
    }
    .form__modal-input {
        width: 100%;
        padding-left: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .form__modal-button,#compute{
        font-size: 14px;
        line-height: 16px;
        padding: 9px 52px;
    }
    .calculate-modal__window .form__modal-row {
        width: 100% !important;
    }
    .success-modal {
        width: 288px;
        height: 190px;
        padding-bottom: 0;
        padding-top: 7px;
        border-radius: 30px;
    }
    .success-modal__icon {
        height: 65px;
        width: 65px;
    }
    .success-modal__title {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 49px;
    }
    .success-modal__pretitle {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
    }
    .success-modal__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
    }
    .success-modal__close {

    }


    /* FOOTER */
    .footer__item {
        font-size: 10px;
        line-height: 14px;
    }
    .footer__logo {
        order: 1;
    }
    .footer__item.adress::before {
        width: 15px;
        height: 11px;
    }
    .footer__item.email::before {
        width: 10px;
        height: 9px;
    }
    .footer__item.tel::before {
        width: 12px;
        height: 12px;
    }
    .footer__logo-text {
        font-size: 12px;
        line-height: 20px;
    }
    .footer__logo-img {
        height: 62px;
    }
    .footer__delivery {
        display: none;
    }
    .footer__logo {
        text-align: center;
        flex-direction: column;
    }
 } 