

@media (max-width:768px) {
    .mobile-header {
        display: flex;
        height: 45px;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: #ffffff;
        z-index: 999;
    }
    .container--mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .header {
        display: none;
    }
    .header__logo-img {
        height: 40px;
    }
    .header__logo-text {
        font-size: 12px;
        line-height: 13px;
    }
    .mobile-header__button {
        display: flex;
        flex-direction: column;
    }
    .mobile-header__item {
        width: 17px;
        border-radius: 7px;
        background-color: #494949;
        height: 1px;
        margin-bottom: 5px;
    }
    .mobile-header__item:last-child {
        width: 11px;
        margin-bottom: 0;
    }
    .support__list .owl-stage-outer .owl-stage .owl-item {
        display: flex;
        justify-content: center;
    }


}
@media (max-width:480px) {


    .owl-nav {
        display: none;
    }

    .slider-main__item {
        flex-direction: column;
        padding-top: 91px;
    }
    .hero__column {
        width: 100% !important;
        text-align: center;
    }
    .hero__title {
        font-size: 26px;
    }
    .hero__buttons {
        flex-direction: column;
    }

    /* ABOUT */
    .about__title, .sizes__title, .groups__title, .advantages__title, .portfolio__title, .callback__title {
        font-family: Prata;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
    }
    .about__text {
        font-size: 12px;
    }
    .button--green {
        font-size: 14px;
        line-height: 16px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .button {
        height: 38px;
    }
    .container--about {
        display: flex;
        flex-direction: column;
    }
    .about__title, .about__text {
        order: 0;
    }
    .about__button {
        order: 4;
    }
    .about__list {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .about__item {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
    .about__item-text {
        padding-left: 0;
        font-size: 10px;
    }
    .about__item-number {
        font-size: 18px;
        left: 7px;
        margin-bottom: 8px;
    }
    .about__item img {
        width: 50px;
        height: 50px !important;
    }


    /* GROUPS */
    .flip-card {
        max-width: 100%;
        flex: 0 0 100%;
        height: 250px;
    }
    .flip-card__photo {
        background-size: cover;
        background-position-x: 0 !important;
    }
    .flip-card__custom {
        background-position-x: -50px !important;
        background-repeat: no-repeat;
    }


    /* ADVANTAGES */
    .advantages__item {
        flex: 0 0 50%;
        max-width: 50%;
    }


    /* SIZES */
    .sizes__back {
        height: 300px;
        top: 111px;
    }
    .sizes__img {
        max-width: 100%;
    }


    /* INVITE */   
    .invite__img {
        max-width: 100%;
    }


    /* PORTFOLIO */
    .portfolio__slider-item {
        flex-direction: column;
    }
    .portfolio__slider-img {
        width: initial;
        height: initial;
        max-width: 100%;
    }
    .portfolio__slider-column:nth-child(2) {
        margin-left: 0;
    }


    /* CALLBACK */
    .callback__form {
        max-width: 100%;
    }
    .callback__form-input {
        width: 100%;
    }

    /* MODAL */
    .modal__window, .calculate-modal__window {
        padding-top: 25px;
        padding-right: 7px;
        padding-left: 7px;
        padding-bottom: 21px;
        width: 95%;
        text-align: center;
        border-radius: 22px;
    }
    .modal__gradient {
        top: 49px !important;
    }
    .modal__title {
        font-family: Prata;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 10px;
    }
    .modal__text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 23px;
    }
    .form__modal {
        max-width: 100%;
        width: initial;
        padding: 0 18px;
    }
    #modal-name {
        margin-right: 12px !important; 
    }
    #modal-comm {
        height: 82px !important;
    }
    .form__modal-input {
        width: 100%;
        padding-left: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .calculate-modal__window .form__modal-row {
        width: 100% !important;
    }


    /* FOOTER */
    .footer__item {
        font-size: 10px;
        line-height: 14px;
    }
    .footer__logo {
        order: 1;
    }
    .footer__item.adress::before {
        width: 15px;
        height: 11px;
    }
    .footer__item.email::before {
        width: 10px;
        height: 9px;
    }
    .footer__item.tel::before {
        width: 12px;
        height: 12px;
    }
    .footer__logo-text {
        font-size: 12px;
        line-height: 20px;
    }
    .footer__logo-img {
        height: 62px;
    }
    .footer__delivery {
        display: none;
    }
    .footer__logo {
        text-align: center;
        flex-direction: column;
    }
 } 