.about {
    padding-top: 110px;
    text-align: center;
}
.about__title {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    color: #494949;
    margin-bottom: 50px;
}
.about__text {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
    margin-bottom: 80px;
}
.about__button {
    margin-bottom: 72px;
}
.about__list {
    display: flex;
    justify-content:center;
}
.about__item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: left;
}
.about__item-number {
    font-family: Roboto;
    font-weight: normal;
    font-size: 36px;
    color: #515151;
    display: inline;
    position: relative;
    left: 20px;
}
.about__item-text {
    font-family: Open Sans;
     font-weight: normal;
    font-size: 14px;
    line-height: 143.19%;
    color: #515151;
    padding-left: 73px;
    max-width: 280px;
}