.portfolio {
    text-align: center;
    padding-bottom: 80px;
}
.portfolio .container {
    flex-direction: column;
}

.portfolio__title {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    color: #494949;
    margin-bottom: 80px;
}
.portfolio__slider {
    display: flex;
    position: relative;
}
.portfolio__slider-item {
    display: flex;
    justify-content: center;
}
.portfolio__slider-title {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 35px;
}
.portfolio__slider-text {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    max-width: 341px;
    margin: 0;
}
.portfolio__slider-img {
    max-width:100%;
    height: 396px;
    border-radius: 14px;
}
.portfolio__slider-column:nth-child(2) {
    margin-left: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}