.sizes {
    padding-top: 115px;
    text-align: center;
    background-image: url('../../img/sizes-background.png');
    background-size: cover;
    background-position-y: 278px;
    background-repeat: no-repeat;
    position: relative;
}
.sizes__title {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    color: #494949;
}
.sizes__back {
    background-image: url('../../img/sizes-background.png');
    position: absolute;
    width: 100%;
    height: 514px;
    background-size: cover;
    top: 357px;
    z-index: -1;
}